In [172]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests

## Data Collection

### Files sources

In [173]:
# URLs of the files
train_datas_url = 'https://www.raphaelcousin.com/modules/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_datas_url, 'module4_exercise_train.zip')
download_file(test_data_url, 'Neighborhood_Market_data.csv')

Downloaded module4_exercise_train.zip from https://www.raphaelcousin.com/modules/module4/exercise/module4_exercise_train.zip
Downloaded Neighborhood_Market_data.csv from https://www.raphaelcousin.com/modules/module4/exercise/Neighborhood_Market_data.csv

#### CityMart

In [174]:
col = ['item_code', 'store_name', 'mass', 'dimension_length',
       'dimension_width', 'dimension_height', 'days_since_last_purchase',
       'package_volume', 'stock_age', 'quantity_sold', 'last_modified']

df_StoreA = pd.read_csv("/Users/Nacef/Downloads/module4_exercise_train/CityMart_data.csv")
df_StoreA.columns = col
df_StoreA

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
0,P0019,CityMart,2.81,26.83,38.75,24.89,323,25877.199625,253,202,2023-01-19
1,P0024,CityMart,3.30,59.23,34.99,21.78,321,45138.128706,21,225,2023-01-24
2,P0025,CityMart,2.34,22.60,16.90,60.12,291,22962.232800,316,278,2023-01-25
3,P0034,CityMart,6.54,18.59,68.72,21.99,126,28092.330552,612,233,2023-02-03
4,P0039,CityMart,9.94,57.89,88.33,35.45,312,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...,...
410,P1984,CityMart,8.24,99.78,68.06,11.87,117,80609.488116,333,263,2028-06-06
411,P1989,CityMart,5.79,71.19,92.39,63.98,250,420812.077518,417,238,2028-06-11
412,P1992,CityMart,8.64,97.57,8.58,83.35,348,69776.502510,489,219,2028-06-14
413,P1996,CityMart,9.90,66.40,75.90,9.88,101,49792.828800,501,232,2028-06-18
414,P1998,CityMart,3.78,17.19,21.02,37.04,82,13383.803952,800,192,2028-06-20

#### Greenfield_Grocers

In [175]:
df_StoreD =pd.read_csv("/Users/Nacef/Downloads/module4_exercise_train/Greenfield_Grocers_data.csv", sep = "|")  
df_StoreD = df_StoreD[df_StoreD.columns[:-2]]
df_StoreD.columns = col
df_StoreD

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
0,P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.180384,450,130,2023-01-06
1,P0014,Greenfield_Grocers,9.91,21.67,54.91,84.80,99,100903.494560,827,118,2023-01-14
2,P0016,Greenfield_Grocers,1.13,60.03,97.39,90.00,348,526168.953000,981,136,2023-01-16
3,P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.956576,289,155,2023-01-21
4,P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28
...,...,...,...,...,...,...,...,...,...,...,...
396,P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.634023,31,154,2028-06-05
397,P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07
398,P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757868,770,162,2028-06-10
399,P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12
400,P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17

#### Outlet_data

In [176]:
# read "SuperSaver_Outlet_data.xlsx"
#df_StoreB1 = pd.read_csv("/Users/Nacef/Downloads/module4_exercise_train/SuperSaver_Outlet_data/Info-Table 1.csv", sep = ";")  
#df_StoreB = pd.read_csv("/Users/Nacef/Downloads/module4_exercise_train/SuperSaver_Outlet_data/Quantity-Table 1.csv", sep = ";")  
#df_StoreB = df_StoreB[["item_code", "QUANTITY_SOLD"]]
#df_StoreB = pd.merge(df_StoreB1, df_StoreB, left_on = "item code", right_on = "item_code")
#df_StoreB

colB = ['item_code', 'store_name', 'mass', 'dimension_length',
       'dimension_width', 'dimension_height', 'days_since_last_purchase',
       'package_volume', 'stock_age', 'quantity_sold']
df_StoreB = pd.read_csv("/Users/Nacef/Downloads/module4_exercise_train/supersaver.csv", sep = ",")  
df_StoreB.columns = colB
df_StoreB

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold
0,P0003,SuperSaver_Outlet,"2,4","50,9","8,8","68,82",337,"30825,8544",277,198
1,P0007,SuperSaver_Outlet,"9,88","43,65","48,64","55,78",16,"118428,5261",291,211
2,P0008,SuperSaver_Outlet,"1,45","36,18","10,23","69,14",315,"25590,1936",169,200
3,P0009,SuperSaver_Outlet,"6,98","48,13","45,55","44,66",295,"97909,07819",443,209
4,P0012,SuperSaver_Outlet,"7,2","23,66","65,9","12,05",40,"18788,2877",45,186
...,...,...,...,...,...,...,...,...,...,...
374,P1976,SuperSaver_Outlet,"5,1","62,99","49,16","65,56",293,"203012,3355",464,236
375,P1980,SuperSaver_Outlet,"4,93","74,91","53,25","52,95",285,"211215,2996",163,192
376,P1986,SuperSaver_Outlet,"4,24","31,52","73,46","55,73",330,"129040,5412",755,193
377,P1993,SuperSaver_Outlet,"3,21","97,68","39,88","43,2",293,"168284,6669",889,185
378,P2000,SuperSaver_Outlet,"4,94","98,34","72,87","75,57",142,"541537,3254",860,250

#### HighStreet_Bazaar

In [177]:
# read 'HighStreet_Bazaar_data.json'
import datetime
df_StoreC = pd.read_json("/Users/Nacef/Downloads/module4_exercise_train/HighStreet_Bazaar_data.json") 
df_StoreC["last_modified"] = pd.to_datetime(df_StoreC['last_modified'], unit='ms').dt.date
df_StoreC.columns = col
df_StoreC

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
0,P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,2023-01-01
1,P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,2023-01-11
2,P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,2023-01-15
3,P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,2023-01-17
4,P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,2023-01-20
...,...,...,...,...,...,...,...,...,...,...,...
391,P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,2028-05-31
392,P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,2028-06-03
393,P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,2028-06-04
394,P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,2028-06-09
395,P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,2028-06-16

#### Aggregate

In [178]:
## Before aggregating, a few things to correct : point or coma based decimals.
data = pd.concat([df_StoreA, df_StoreC, df_StoreD, df_StoreB], axis=0)
data = data.applymap(lambda x: float(x.replace(',', '.')) if isinstance(x, str) and ',' in x else x)
data = data.set_index('item_code')
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19
P0024,CityMart,3.3,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.6,16.9,60.12,291.0,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1976,SuperSaver_Outlet,5.1,62.99,49.16,65.56,293.0,203012.335500,464,236,NaN
P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285.0,211215.299600,163,192,NaN
P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330.0,129040.541200,755,193,NaN
P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.2,293.0,168284.666900,889,185,NaN
P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142.0,541537.325400,860,250,NaN

#### Simple baseline

In [179]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores)

In [180]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

45.093142256175646

### API sources

In [181]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")
        
endpoint_url = "https://www.raphaelcousin.com/api/exercise/auth"
get_api(endpoint_url)

password = "RcUZjhdsYLRzwi4"
prices_url = "https://www.raphaelcousin.com/api/exercise/RcUZjhdsYLRzwi4/prices"
prices = get_api(prices_url)

Authentication successful
Volume data retrieved successfully

In [182]:
df_prices = pd.DataFrame(list(prices.items()), columns=['item_code', 'price'])
df_prices = df_prices.set_index('item_code')

#### Aggregate

In [183]:
data = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,price
item_code,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19,17.86
P0024,CityMart,3.3,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24,14.04
P0025,CityMart,2.34,22.6,16.9,60.12,291.0,22962.232800,316,278,2023-01-25,3.38
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03,15.11
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08,14.20
...,...,...,...,...,...,...,...,...,...,...,...
P1976,SuperSaver_Outlet,5.1,62.99,49.16,65.56,293.0,203012.335500,464,236,NaN,18.69
P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285.0,211215.299600,163,192,NaN,17.20
P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330.0,129040.541200,755,193,NaN,20.91
P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.2,293.0,168284.666900,889,185,NaN,17.35
P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142.0,541537.325400,860,250,NaN,14.42

In [184]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

44.19963200244253

### Scrapping sources

In [185]:
### Selenium marche pas avec mon ordi.

In [186]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
#driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
driver = webdriver.Firefox()
#driver = webdriver.Edge()
#driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Scrape the second table (Exercise Data)
course_table = tables[1]
headers = [header.text.strip() for header in course_table.find('thead').find_all('th')]

for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    exercise_data.append([col.text.strip() for col in cols] )

# Convert the lists to pandas DataFrames
df_exercise = pd.DataFrame(exercise_data,  columns=headers)
df_exercise

     Item Code Customer Score Total Reviews Updated Timestamp
0        P0001              2           972           1728543
1        P0002              3           260           1728580
2        P0003              2           285           1728557
3        P0004              5           512           1728491
4        P0005              3            85           1728557
...        ...            ...           ...               ...
1995     P1996              5           512           1728514
1996     P1997              2           989           1728576
1997     P1998              2           440           1728514
1998     P1999              4            37           1728559
1999     P2000              4           701           1728541

[2000 rows x 4 columns]

In [187]:
column_scrap = ["item_code", "customer_score", "total_reviews", "updated_timestamp"]
df_exercise.columns = column_scrap
df_exercise = df_exercise.set_index('item_code')
df_exercise.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, P0001 to P2000
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_score     2000 non-null   object
 1   total_reviews      2000 non-null   object
 2   updated_timestamp  2000 non-null   object
dtypes: object(3)
memory usage: 62.5+ KB

#### Aggregate

In [188]:
data = pd.merge(data, df_exercise, left_index=True, right_index=True, how='left')
data['last_modified'] = pd.to_datetime(data['last_modified'], errors='coerce')
columns_to_float = data.columns.difference(['store_name', 'last_modified'])
data[columns_to_float] = data[columns_to_float].apply(pd.to_numeric, errors='coerce')
data.to_csv('updated_data.csv', index_label='item_code')

In [189]:
data = pd.read_csv('updated_data.csv')
data = data.set_index('item_code')
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,price,customer_score,total_reviews,updated_timestamp
item_code,,,,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19,17.86,1,948,1728526
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24,14.04,3,436,1728525
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25,3.38,5,703,1728526
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03,15.11,2,935,1728558
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08,14.20,2,188,1728552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1976,SuperSaver_Outlet,5.10,62.99,49.16,65.56,293.0,203012.335500,464,236,NaN,18.69,5,574,1728513
P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285.0,211215.299600,163,192,NaN,17.20,4,624,1728535
P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330.0,129040.541200,755,193,NaN,20.91,2,818,1728558
P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.20,293.0,168284.666900,889,185,NaN,17.35,4,121,1728518
P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142.0,541537.325400,860,250,NaN,14.42,4,701,1728541

In [190]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

40.13798598228553

### Generating Submission File

In [191]:
# X_test =  read  Neighborhood_Market_data

# read
df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [192]:
df_StoreN0 = pd.merge(df_StoreN, df_prices, left_index=True, right_index=True, how='left')
df_StoreN1 = pd.merge(df_StoreN0, df_exercise, left_index=True, right_index=True, how='left')
df_StoreN1.to_csv('df_storen.csv', index_label='item_code')

In [193]:
_, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN1)
_

## Ce truc train sur data et fait une pred sur df_StoreN qui est le test. DOnc il reste du data pre processing a faire

40.13798598228553

In [194]:
data = pd.read_csv('updated_data.csv' , index_col = 'item_code')
df_StoreN = pd.read_csv('df_storen.csv', index_col = 'item_code')


#remove outliers
def detect_outliers_iqr(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data < lower_bound) | (data > upper_bound)]
outliers = detect_outliers_iqr(data['quantity_sold'])

items_to_remove =  [outliers.index[i] for i in range(len(outliers.index))]
data = data.drop(index=items_to_remove)

_, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)
print(f"After removing outlier for quantity_sold", _)

exact_duplicates = data[data.duplicated()] # No exact duplicates

data['last_modified'] = pd.to_datetime(data['last_modified'])
data['year'] = data['last_modified'].dt.year
data['month'] = data['last_modified'].dt.month
data['day'] = data['last_modified'].dt.day
data['dayofweek'] = data['last_modified'].dt.dayofweek


df_StoreN['last_modified'] = pd.to_datetime(df_StoreN['last_modified'])
df_StoreN['year'] = df_StoreN['last_modified'].dt.year
df_StoreN['month'] = df_StoreN['last_modified'].dt.month
df_StoreN['day'] = df_StoreN['last_modified'].dt.day
df_StoreN['dayofweek'] = df_StoreN['last_modified'].dt.dayofweek


_, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)
print(f"After adding new time feature", _)

After removing outlier for quantity_sold 40.117755221745014
After adding new time feature 40.16116426742522

In [196]:
submission = pd.DataFrame({
    'item_code': df_StoreN.index,
    'quantity_sold': x_pred # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

  item_code  quantity_sold
0     P0002     154.104528
1     P0004     240.691041
2     P0005     156.533448
3     P0010     222.917245
4     P0013     239.264522